<h1><%= @book.title %></h1>

<div class="row">
  <div class="col-sm-5">
    <p>员工: <%= @book.user.username %>, <%= @book.created_at %></p>
    <%= @book.content %>
  </div>

  <div class="col-sm-7">
  </div>
</div>